body{
	margin: 0;
}
.feedimage{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.upload{
	width: 460px;
	height: 40px;
	background-color: #ff00a8;
}
.uploadimage{
	width: 100px;
	margin: 0 auto;
}
.user-name{
	color: #A6A3A3;
}
.images-collection{
	width: 460px;
	margin: 0 auto;
}
.image-container{
	width: 460px;
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.container{
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	padding:0px;
	margin:0px;
}