<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link href="/feed.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
<div class="images-collection">
<% for (var n = 0; n < photos.length; n++) { %>
    <div class="image-container">
        <div class="user-name">
            <%= photos[n].user %>
        </div>
        <a href="/photo/<%= photos[n]._id %>"><img src="/images/<%= photos[n]._id %>.jpg" /></a>
    </div>
<% } %>
</div>
</div>
<script src="/static/feed.js"></script>
</body>
</html>