body{
	margin: 0;
}
.upload{
	width: 480px;
	height: 40px;
	background-color: #ff00a8;
}
.uploadimage{
	width: 100px;
	margin: 0 auto;
}
.user-name{
	color: #A6A3A3;
}
.images-collection{
	width: 480px;
	margin: 0 auto;
	background-color: #0A0A0A;
	border-left: 2px solid #A6A3A3;
	border-right: 2px solid #A6A3A3;
}
.image-container{
	width: 480px;
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 5px;
	-webkit-border-radius: 1em;
	margin-bottom: 5px;
}
.container{
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	padding:0px;
	margin:0px;
}