body{
	margin: 0;
	background-image: url('/static/images/bg.png');
    background-repeat: repeat;
}
.feedimage{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.user-name{
	color: #323232;
	font-size: 12pt;
}
.images-collection{
	padding-top: 50px;
	width: 100%;
	margin: 0 auto;
}
.image-container{
	width: 290px;
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.container{
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	padding:0px;
	margin:0px;
}