.wrapper{
	width: 460px;
	margin: 0 auto;
}
.input{
	width: 100%;
}
.rangediv{
	width: 70%;
	float: right;
}
.range{
	width: 100%;
	border-radius: 30px;
	background:#f60;
}
.submit{
	width: 100%;
}
.text{
	float: left;
	text-align: left;
	width: 30%;
}