body{
	margin: 0;
}
.wrapper{
	width: 100%;
	margin: 0 auto;
}
.text{
	width: 290px;
}
.submit{
	width: 100px;
	float: right;
	margin: 0 auto;
}
.addcomewrapper{
	width: 290px;
}
.image-container{
	width: 290px;
	margin: 0 auto;
}