<!DOCTYPE html>
<html>
<meta charset="UTF-8" />
<link href="/static/photo.css" rel="stylesheet"/>
<link href="/static/top.css" rel="stylesheet"/>
</head>
<body>
<div class="upload">
	<div class="uploadimage"><a href="/static/index.html"><img src="/static/images/upload.png"/></a></div>
</div>
<div class="wrapper">
	<div class="image-container">
		<img src="/images/<%= photoid %>.jpg" />
	</div>
	<div class="comment-container">
	<% for (var n = 0; n < comments.length; n++) { %>
		<div class="image-container">
			<div class="user-name">
				<%= comments[n].user %>
			</div>
			<div class="commenttext"><%= comments[n].content %> </div>
		</div>
	<% } %>	
	</div>
	<form method="POST" action="/photo/<%= photoid %>" >
		<div class="addcomwrapper">
			<input class="text" name="content" type="text">
			<input class="submit" type="submit">
		</div>
		<input type="hidden" id="user" name="user">
	</form>
</div>
<script src="/static/photo.js"></script>
</body>
</html>